<aside class="sidebar">

  <div>

    <div class="brand">
      <div class="logo">🌭</div>

      <div>
        <h1>Linguiçaria</h1>
        <p>Sistema de gerenciamento</p>
      </div>
    </div>

    <nav class="menu">

      <a href="../index.html">
        <button class="menu-btn">
          Resumo
        </button>
      </a>

      <a href="../pages/produtos.html">
        <button class="menu-btn">
          Produtos
        </button>
      </a>

      <a href="../pages/clientes.html">
        <button class="menu-btn">
          Clientes
        </button>
      </a>

      <a href="../pages/vendas.html">
        <button class="menu-btn">
          Vendas
        </button>
      </a>

      <a href="../pages/estoque.html">
        <button class="menu-btn">
          Estoque
        </button>
      </a>

      <a href="../pages/relatorios.html">
        <button class="menu-btn">
          Relatórios
        </button>
      </a>

    </nav>
  </div>

  <div class="user">

    <div class="avatar">
      M
    </div>

    <div>
      <strong>Manoel</strong>
      <p>Administrador</p>
    </div>

  </div>

</aside>